* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.code-wrapper{
    flex: 1;
    height: 50%;
    padding: .4167rem;
}
.preview-wrapper{
    flex: 1;
    height: 50%;
}

#code{
    overflow-y: hidden;
    height: 100%;
    margin-left: -0.4167rem;
}

.actions{
    position: absolute;
    top: 0;
    right:0;
    /* background: skyblue; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.rate{
    margin-right: .4167rem;
}
.rate>p{
    font-weight: 600;
    font-size: 0.7rem;
}

.actions>button{
    cursor: pointer;
    padding: .2083rem;
    margin: .4167rem;
    background: transparent;
    border-radius: .2083rem;
    color: #06f;
    border: 1px solid #06f;
}

.actions>button:hover{
    background-color: rgba(0, 102, 255, 0.082);
}

.actions>button.active{
    background-color: rgba(0, 102, 255, 0.082);
}

.nose:hover {
    -webkit-animation: nose .23s infinite linear;
    -moz-animation: nose .23s infinite;
    -ms-animation: nose .23s infinite;
    animation: nose .23s infinite linear;
}
@-webkit-keyframes nose {
    0% {
        -webkit-transform: rotate(0deg);
    }

    33% {
        -webkit-transform: rotate(-5deg);
    }

    67% {
        -webkit-transform: rotate(5deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes nose {
    0% {
        -moz-transform: rotate(0deg);
    }

    33% {
        -moz-transform: rotate(-5deg);
    }

    67% {
        -moz-transform: rotate(5deg);
    }

    100% {
        -moz-transform: rotate(0deg);
    }
}

@-ms-keyframes nose {
    0% {
        -ms-transform: rotate(0deg);
    }

    33% {
        -ms-transform: rotate(-5deg);
    }

    67% {
        -ms-transform: rotate(5deg);
    }

    100% {
        -ms-transform: rotate(0deg);
    }
}

@keyframes nose {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-5deg);
    }

    67% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}